<p class="font-weight-bold">DNI: <span class="font-weight-normal">{{inputItemSeleccionado.dni}}</span></p>
<p class="font-weight-bold">Nombre: <span class="font-weight-normal">{{inputItemSeleccionado.nombre}}</span></p>
<p class="font-weight-bold">Edad: <span class="font-weight-normal">{{inputItemSeleccionado.edad}}</span></p>
<p class="font-weight-bold">Capacidad de transporte: <span class="font-weight-normal">{{inputItemSeleccionado.capacidadTransporte}}</span></p>
<p class="font-weight-bold">¿Tiene unidad propia?: <span class="font-weight-normal">{{inputItemSeleccionado.unidadPropia}}</span></p>
<p class="font-weight-bold">Pais de Origen: <span class="font-weight-normal">{{inputItemSeleccionado.paisOrigen}}</span></p>